@media(prefers-color-scheme: dark) {
        :root {
            --dark: #fff;
            --grey: #fff;
            --bg-color: #202C36;
            --white: #2B3844;
            --back-color: #2B3844;
        }
    
}